DEBUG_MODE = True 
OPENAI_API_KEY=your-api-key
NOTION_API_KEY=your-api-key
ANTHROPIC_API_KEY=your-api-key
TICKSY_DOMAIN=your-usenarm
TICKSY_API_KEY=your-api-key
OBSIDIAN_DIR= 
BROWSER=none
FORCE_REBUILD=true
