OPENAI_API_KEY=your-api-key
NOTION_API_KEY=your-api-key
NOTION_MARKET_REPORTS_DB_KEY=your-db-key
ANTHROPIC_API_KEY=your-api-key
GITHUB_USERNAME=your-username
GITHUB_TOKEN=your-api-key
TICKSY_DOMAIN=your-usenarm
TICKSY_API_KEY=your-api-key
TINYMCE_API_KEY=your-api-key
BROWSER=none
FORCE_REBUILD=true