# System stuffs
.venv/
__pycache__/
*.pyc
.DS_Store

# Ignore dynamic data
data/faiss_store/*
data/db/*.db
!data/db/.gitkeep

data/dynamic/**/*.json
!data/dynamic/.gitkeep

data/crawled/*.json
data/crawled/*.csv
!data/dynamic/.gitkeep

data/cache/*.json

data/reports/*.json
!data/reports/.gitkeep
!data/reports/daily/.gitkeep
!data/reports/weekly/.gitkeep

data/themes/scraped/*.json

data/dynamic/editor/*
!data/dynamic/editor/.gitkeep
data/dynamic/tickets/*
!data/dynamic/tickets/.gitkeep

*.log
logs/
debug

# Confif files
config/llm_config_local.py
.env

# Ignore cloned or test repos
repos/*
!repos/.gitkeep

# Node-related (if you use Node or frontend tooling)
node_modules/
