# System stuffs
.venv/
__pycache__/
*.pyc
.DS_Store

# Ignore dynamic data
data/faiss_store/*
data/db/*.db
data/dynamic/**/*.json
data/crawled/*.json
data/dynamic/editor/*
*.log
logs/

# Confif files
llm_config_local.py
.env

# Ignore cloned or test repos
repos/*
!repos/.gitkeep

# Node-related (if you use Node or frontend tooling)
node_modules/
